my_contract/accounts/__pycache__
my_contract/accounts/migrations/__pycache__
my_contract/contract/__pycache__
my_contract/contract/migrations/__pycache__
my_contract/tools/__pycache__
my_contract/hello/__pycache__
front_contract/node_modules
my_contract/my_contract/__pycache__/
my_contract/my_contract/media/
my_contract/contract/migrations/
my_contract/media/
my_contract/my_contract/__pycache__/
